---
import SiteLayout from '../layouts/SiteLayout.astro';
import AboutHero from '../components/AboutHero.astro';
import ExperienceGrid from '../components/ExperienceGrid.astro';

const pageTitle = 'Acerca de'
---

<SiteLayout pageTitle={pageTitle}>
    <main class="pb-2">
        <AboutHero
            title="¡Hola! Soy Elias"
            highlight="Te cuento un poco sobre mí"
            imageUrl="https://res.cloudinary.com/dwczjy8e4/image/upload/v1743264168/esvdev_pic_2025_3_ixhlpe.png"
        >
            <p>Comencé mi camino profesional en tecnología en 2024 como Python Developer, donde rápidamente me orienté hacia el mundo del <strong>Data Engineering</strong>.</p>
            <p>Desde entonces, he trabajado en el desarrollo de soluciones basadas en datos y en la nube, profundizando en herramientas como <strong>AWS</strong>, <strong>Snowflake</strong>, <strong>Docker</strong> y flujos de trabajo modernos que integran IA para resolver problemas de forma más eficiente.</p>

            <p>A lo largo de este recorrido, no solo consolidé habilidades técnicas, sino también una forma de trabajar: <strong>clara, colaborativa y orientada a resultados</strong>. La comunicación efectiva, la organización y el trabajo en equipo se volvieron tan importantes como el código, especialmente en entornos remotos y dinámicos.</p>

            <p>Mi enfoque hoy no es solo seguir creciendo como ingeniero, sino hacerlo con criterio. <strong>Me interesa entender el “por qué” detrás de las decisiones técnicas</strong>, construir soluciones sostenibles y mantener una relación consciente con la tecnología que utilizo.</p>

            <p>Esa misma intención es la que me lleva a compartir lo que aprendo, ya sea a través de este espacio o en comunidad. <strong>Creo que la tecnología es una herramienta poderosa para generar impacto, y mi objetivo es contribuir a que más personas puedan desarrollarse en este camino con claridad y confianza</strong>.</p>
        </AboutHero>

        <ExperienceGrid />
    </main>
</SiteLayout>
