---
import BaseLayout from '../layouts/BaseLayout.astro';
import Separator from '../components/Separator.astro';

const pageTitle = 'Acerca de'
---

<BaseLayout pageTitle={pageTitle}>
    <h1 class="text-3xl font-bold block mb-3">Muy pronto vas a leer algo copado aca :)</h1>
</BaseLayout>