---
import Social from "./Social.astro";
---
 <hr class="w-1/2 mt-5 mb-5 font-light">

<div>
    <h3 class="font-bold mb-3">Escrito por: </h3>
    <div class="flex">
        <img class="w-28 me-5" src="https://res.cloudinary.com/dwczjy8e4/image/upload/v1695074470/elias_pic_sep23_gnz0c3.png" alt="Elias Velazquez photo">
        <div>
            <h4 class="text-lg">Elias Velazquez</h4>
            <p class="font-thin text-gray-500">Backend developer | Musico | Nerd de yerbas varias</p>
            
        </div>
    </div>
</div>