---
import Social from "./Social.astro";
import Separator from "./Separator.astro";
---
<Separator />

<div>
    <div class="flex">
        <div class="flex-shrink-0 w-28 h-28 me-5">
            <img 
                class="w-full h-full rounded-full border-4 border-solid border-gray-400 object-cover" 
                src="https://res.cloudinary.com/dwczjy8e4/image/upload/v1743264168/esvdev_pic_2025_3_ixhlpe.png" 
                alt="Elias Velazquez photo"
            >
        </div>
        <div>
            <h3 class="font-bold mb-1">Escrito por: </h3>
            <h4 class="text-lg font-semibold text-gray-400">Elias Velazquez</h4>
            <p class="font-medium text-gray-400">Data Engineer | Developer | Musico | Nerd de yerbas varias</p>
        </div>
    </div>
</div>