---
import Social from "./Social.astro";
import Separator from "./Separator.astro";
---
<Separator />

<div>
    <h3 class="font-bold mb-3">Escrito por: </h3>
    <div class="flex">
        <img class="w-28 me-5" src="https://res.cloudinary.com/dwczjy8e4/image/upload/v1715726681/esvdev_pic_2024_v1_lsissn.png" alt="Elias Velazquez photo">
        <div>
            <h4 class="text-lg font-semibold text-gray-400">Elias Velazquez</h4>
            <p class="font-medium text-gray-400">Python / ETL dev | Data Engineer en progreso | Musico | Nerd de yerbas varias</p>
            
        </div>
    </div>
</div>