---
import Social from './Social.astro';
import Separator from './Separator.astro';
---

<footer class="sticky top-[100vh]">
    <Separator />

    <div class="flex flex-col lg:flex-row items-center justify-between ">
        <p class="lg:text-base text-sm mb-5 lg:mb-0">Elias Velazquez | 2026</p>
        <div>
            <a href="https://www.evelazquez.dev/" target="_blank">
                <i class='fa-solid fa-square-poll-horizontal text-lg lg:text-2xl me-2 text-white hover:text-orange-500 hover:animate-pulse'></i>
            </a>
            
            <Social platform="linkedin" username="eliassvelazquez"/>
            <Social platform="twitter" username="esvdev"/>
            <Social platform="github" username="eliasvelazquezdev"/>
            
            <a href="https://elingenieroconsciente.substack.com" target="_blank">
                <i class="fa-solid fa-square-pen text-lg lg:text-2xl me-2 text-white hover:text-orange-500 hover:animate-pulse"></i>
            </a>

        </div>
    </div>
</footer>