---
import Social from './Social.astro';
---

<footer class="flex flex-col lg:flex-row items-center justify-between lg:w-2/4 mx-auto sticky top-[100vh]">
    <p class="lg:text-base text-sm mb-5 lg:mb-0">Elias Velazquez - Backend developer | 2023</p>

    <div>
        <Social platform="github" username="eliasvelazquezdev"/>
        <Social platform="linkedin" username="eliassvelazquez"/>
        <Social platform="twitter" username="esvdev"/>
    </div>
</footer>