---
import Social from './Social.astro';
import Separator from './Separator.astro';
---

<footer class="sticky top-[100vh]">
    <Separator />

    <div class="flex flex-col lg:flex-row items-center justify-between ">
        <p class="lg:text-base text-sm mb-5 lg:mb-0">Elias Velazquez | 2025</p>
        <div>
            <a href="https://www.evelazquez.dev/" target="_blank">
                <i class='bx bxs-briefcase text-lg lg:text-2xl me-2 text-white hover:text-orange-500 hover:animate-pulse'></i>
            </a>

            <Social platform="github" username="eliasvelazquezdev"/>
            <Social platform="linkedin" username="eliassvelazquez"/>
            <Social platform="twitter" username="esvdev"/>
        </div>
    </div>
</footer>