---
import Navigation from "./Navigation.astro";
---
<header class="flex flex-col lg:flex-row items-center justify-between mb-10 mt-3">
    <a href="/">
        <img class="w-36 mb-5 lg:mb-0" src="https://res.cloudinary.com/dwczjy8e4/image/upload/v1730165293/esvdev_logo_2025_light_no_border_ygs1fx.png" alt="esvdev_logo">
    </a>
    
    <Navigation />

    
</header>
