---
import Navigation from "./Navigation.astro";
---
<header class="flex flex-col lg:flex-row items-center justify-between mb-10 mt-3">
    <a href="/">
        <img class="w-28 mb-5 lg:mb-0" src="/logo/esvdev_logo_no_under.svg" alt="esvdev_logo">
    </a>
    
    <Navigation />

    
</header>
