---

---
<nav class="nav-links">
    <a class="me-5 font-bold text-lg hover:text-orange-500" href="">Posts</a>
    <a class="me-5 font-bold text-lg hover:text-orange-500" href="">Tags</a>
    <a class="font-bold text-lg hover:text-orange-500" href="">Acerca de</a>
</nav>