---

---
<nav class="nav-links">
    <a class="me-5 font-bold text-lg hover:text-orange-500" href="/posts/">Posts</a>
    <a class="me-5 font-bold text-lg hover:text-orange-500" href="/tags/">Tags</a>
    <a class="font-bold text-lg hover:text-orange-500" href="/about/">Acerca de</a>
</nav>