---
const {prev, next} = Astro.props;

const getPageNumber = (url) => {
  const urlParams = new URL(url).searchParams;
  return urlParams.get('page');
};

const prevPageNumber = prev ? getPageNumber(prev) : null;
const nextPageNumber = next ? getPageNumber(next) : null;

const prevPage = prevPageNumber ? `/posts/page${prevPageNumber}` : (prev ? '/posts/' : null);
const nextPage = nextPageNumber ? `/posts/page${nextPageNumber}` : null;
---
<div class="flex justify-center mt-10">
    <p class="font-bold text-lg">
        {
            !prevPage ? 
                <span class="me-3 text-slate-500" >
                    <i class='bx bx-left-arrow-alt  '></i>
                    Anterior
                </span>
            :
                <a class="me-3 text-white hover:text-orange-500" href={prevPage}>
                    <i class='bx bx-left-arrow-alt '></i>
                    Anterior
                </a>
        }
        
    </p>
    <p class="font-bold text-lg">
        {
            !nextPage ?
                <span class="me-3 text-slate-500">
                    Siguiente
                    <i class='bx bx-right-arrow-alt'></i>
                </span>
            :
                <a class="me-3 text-white hover:text-orange-500" href={nextPage}>
                    Siguiente
                    <i class='bx bx-right-arrow-alt'></i>
                </a>
        }

    </p>
</div>