---
const {prev, next} = Astro.props;
---
<div class="flex justify-center mt-10">
    <p class="font-bold text-lg">
        {
            prev == undefined ? 
                <a class="me-3 text-slate-500" href={prev}>
                    <i class='bx bx-left-arrow-alt  '></i>
                    Ant.
                </a>
            :
                <a class="me-3 hover:text-orange-500" href={prev}>
                    <i class='bx bx-left-arrow-alt '></i>
                    Ant.
                </a>
        }
        
    </p>
    <p class="font-bold text-lg">
        {
            next == undefined ?
                <a class="me-3 text-slate-500" href={next}>
                    Sig.
                    <i class='bx bx-right-arrow-alt'></i>
                </a>
            :
                <a class="me-3 hover:text-orange-500" href={next}>
                    Sig.
                    <i class='bx bx-right-arrow-alt'></i>
                </a>
        }

    </p>
</div>