---
const {postTitle, postDescription, postDate, postURL} = Astro.props;

const dateFormatting =  {
    weekday: 'short', 
    year: 'numeric', 
    month: 'numeric', 
    day: 'numeric'
};
---

<div class="w-2/3 mb-5">
    <a href={postURL} class="text-xl font-bold text-orange-500 hover:border-b-4 hover:border-orange-600 hover:border-dashed">
        {postTitle}
    </a>
    <p class="text-gray-500 mt-1 mb-2">
        <i class='bx bxs-calendar me-1'></i>
        {new Date(postDate).toLocaleDateString("es-ES", dateFormatting)}
    </p>
    <div class="text-gray-400 w-2/3">
        {postDescription}
    </div>
</div>

