---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Separator from '../components/Separator.astro';

import { ViewTransitions } from 'astro:transitions';

const {pageTitle} = Astro.props;
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<!-- Thumbnail -->
		<meta property='og:title' content='Esvdev Blog'/>
		<meta property='og:image' content='https://res.cloudinary.com/dwczjy8e4/image/upload/v1701366765/blog/thumb_blog_bclotb.png'/>
		<meta property='og:description' content="Desarrollo backend - Python - Filosofia - Desarrollo personal"/>
		<meta property='og:url' content=''/>
		<meta property='og:image:width' content='1200' />
		<meta property='og:image:height' content='627' />
        <!-- BoxIcons -->
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
		<title>{pageTitle} - Esvdev</title>

		<ViewTransitions />
	</head>

	<body>
		<Header />
		<Separator />

        <slot />

		
        <Footer />
	</body>

    <style is:global>


  	@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;700;900&display=swap');

        body {
          @apply text-slate-300 lg:w-2/4 mx-auto bg-[#0B1320] p-4 min-h-screen;

		  font-family: 'Inconsolata', monospace;
        }

		ul{
			@apply list-disc list-inside bg-slate-950 p-3
		}

		li {
			@apply mb-3
		}

		a {
			@apply text-orange-500 hover:text-orange-400
		}
      
    </style>
</html>