---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Separator from '../components/Separator.astro';

const {pageTitle} = Astro.props;
---
<html lang="en">
	<head>
		<portcharset = "utf-8"/>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        <!-- BoxIcons -->
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
		<title>{pageTitle} - Esvdev</title>
	</head>

	<body>
		<Header />
		<Separator />

        <slot />

		
        <Footer />
	</body>

    <style is:global>


  	@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;700;900&display=swap');

        body {
          @apply text-slate-300 lg:w-2/4 mx-auto bg-[#0B1320] p-4 min-h-screen;

		  font-family: 'Inconsolata', monospace;
        }
      
    </style>
</html>